@import 'normalize.css';

:root {
  --grey: #eee;
  --transition: 0.6s;
  --horizontalPadding: 20px;
  --verticalPadding: 10px;
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
}
body {
  padding: var(--horizontalPadding);
}

.b-flex {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding: var(--verticalPadding);
}

.gitmoji-element {
  flex-basis: 50%;
  max-width: 50%;
  transition: var(--transition);
  cursor: pointer;
}

.gitmoji-element:hover {
  transition: var(--transition);
  transform: translateX(15px) scale(1.15);
}

code {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--grey);
  font-family: monospace;
}

input {
  width: 100%;
  padding: 5px;
  display: block;
}

.b-error {
  background-color: var(--grey);
  padding: var(--verticalPadding);
  display: block;
  text-align: left;
}

.b-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
  padding: var(--verticalPadding) var(--horizontalPadding);
  font-size: 16px;
}

.is-show {
  opacity: 1;
  transition: var(--transition);
  visibility: visible;
}

.is-success {
  color: white;
  background: #4CAF50;
}
